Repository wikimedia/mediawiki-libs-metrics-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-java, test-js, test-php, test-swift

.gitlab-ci.yml:

# Autogenerated by pipeline-to-gitlab
include:
  - project: 'repos/releng/kokkuri'
    file: 'includes/images.yaml'

variables:
  GIT_SUBMODULE_STRATEGY: recursive
    
stages:
- test

test-java:
  extends: .kokkuri:build-and-run-image
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
    changes:
      - .mvn/**/*
      - java/**/*
      - mvnw
      - mvwn.cmnd
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-java.yaml
    BUILD_VARIANT: test

test-js:
  extends: .kokkuri:build-and-run-image
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
    changes:
      - js/**/*
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: js

test-php:
  extends: .kokkuri:build-and-run-image
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
    changes:
      - .phan/**/*
      - php/**/*
      - .phpcs.xml
      - composer.json
      - composer.lock
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-php.yaml
    BUILD_VARIANT: test

test-swift:
  extends: .kokkuri:build-and-run-image
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
    changes:
      - swift/**/*
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: swift

[JS] Fix integration test
  js/test/integration/NodeIntegration.js
  js/test/integration/index.js
Due: test-js

[PHP] Allow MetricsClient#submitInteraction() to accept custom data
  php/src/InteractionDataTrait.php
  php/src/MetricsClient.php
  php/tests/MetricsClientTest.php
Due: test-php

composer.json: Add ext-json to require-dev
  composer.json
Due: test-php

ConsistencyTest.php: Remove unused use statement
  tests/consistency/ConsistencyTest.php
Due: none

ConsistencyTestIntegration.php: Use tabs for indenting
  tests/consistency/php/ConsistencyTestIntegration.php
Due: none

.gitlab-ci.yml: Run test-php if PHP files in tests/consistency change
  .gitlab-ci.yml
Due: none

composer.json: Update mediawiki-phan-config to 0.14.0
  composer.json
  composer.lock
Due: test-php

Add agent.device_family
  java/src/main/java/org/wikimedia/metrics_platform/ContextController.java
  java/src/main/java/org/wikimedia/metrics_platform/context/AgentData.java
  java/src/main/java/org/wikimedia/metrics_platform/context/ContextValue.java
  java/src/test/java/org/wikimedia/metrics_platform/ConsistencyITClientData.java
  java/src/test/java/org/wikimedia/metrics_platform/ContextControllerTest.java
  java/src/test/java/org/wikimedia/metrics_platform/context/AgentDataTest.java
  java/src/test/java/org/wikimedia/metrics_platform/context/DataFixtures.java
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_click.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_click_custom.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_interaction.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_view.json
  tests/consistency/expected_event_apps.json
  tests/consistency/integration_data_apps.json
  tests/consistency/stream_configs_apps.json
Due: test-java

composer.json: Update mediawiki-codesniffer to 43.0.0
  composer.json
  composer.lock
  php/src/ContextController.php
  php/src/CurationController.php
  php/tests/MetricsClientTest.php
Due: test-php

[Java] Fix performer language groups
  java/src/main/java/org/wikimedia/metrics_platform/context/PerformerData.java
  java/src/test/java/org/wikimedia/metrics_platform/MetricsClientTest.java
Due: test-java

[Java] Always queue events, even if stream config not received yet.
  java/src/main/java/org/wikimedia/metrics_platform/EventProcessor.java
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/test/java/org/wikimedia/metrics_platform/ConsistencyIT.java
  java/src/test/java/org/wikimedia/metrics_platform/EventProcessorTest.java
Due: test-java

[Java] Fetch stream configs with variable duration, especially if call fails.
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
Due: test-java

Update Java lib version to 2.5
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_click.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_interaction.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_view.json
  tests/consistency/expected_event_apps.json
Due: test-java

[maven-release-plugin] prepare release metrics-platform-2.5
  java/pom.xml
Due: test-java

Revert "[maven-release-plugin] prepare release metrics-platform-2.5"
  java/pom.xml
Due: test-java

Update Java pom to 2.6-SNAPSHOT
  java/pom.xml
Due: test-java

[maven-release-plugin] prepare release metrics-platform-2.6
  java/pom.xml
Due: test-java

[maven-release-plugin] prepare for next development iteration
  java/pom.xml
Due: test-java

build(javadoc): fix javadoc generation be upgrading to latest parent pom
  .mvn/wrapper/maven-wrapper.properties
  java/pom.xml
Due: test-java

[maven-release-plugin] prepare release metrics-platform-2.7
  java/pom.xml
Due: test-java

[JS] submitter: streamID -> schemaID
  js/src/Submitter.js
Due: test-js

[JS] Replace functions with arrow functions in tests
  js/test/unit/ContextController.test.js
  js/test/unit/CurationController.test.js
  js/test/unit/DefaultIntegration.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/SamplingController.test.js
Due: test-js

[JS] Add MetricsClient#newSubmitter()
  js/src/MetricsClient.js
Due: test-js

[JS] Add Submitter
  js/src/EventData.d.ts
  js/src/Submitter.js
  js/test/unit/Submitter.test.js
Due: test-js

[JS] Optionally submit init interaction event
  js/src/Submitter.js
  js/test/unit/Submitter.test.js
Due: test-js

[JS] Replace var with const or let in tests
  js/src/Submitter.js
  js/test/integration/NodeIntegration.js
  js/test/unit/ContextController.test.js
  js/test/unit/CurationController.test.js
  js/test/unit/DefaultIntegration.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/SamplingController.test.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

[JS] submitter: i -> eventSequencePosition
  js/src/Submitter.js
Due: test-js

[JS] Submitter -> Instrument
  js/src/Instrument.js
  js/src/MetricsClient.js
  js/test/unit/Instrument.test.js
Due: test-js

[JS] Fix ESLint warnings
  js/src/StreamConfigUtils.js
  js/test/integration/NodeIntegration.js
Due: test-js

[JS] Target Node 18
  js/.pipeline/blubber.yaml
  js/package-lock.json
  js/package.json
  js/tsconfig.json
Due: test-js

[JS] Fix new ESLint errors
  js/src/ContextController.js
  js/src/ContextUtils.js
  js/src/DefaultIntegration.js
  js/src/ExternalMetricsClient.js
  js/test/.eslintrc.json
  js/test/integration/NodeIntegration.js
  js/test/integration/index.js
  js/test/unit/ContextController.test.js
  js/test/unit/CurationController.test.js
  js/test/unit/DefaultIntegration.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/SamplingController.test.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

[Java] Allow consumers to plug in their own HttpClient.
  java/pom.xml
  java/src/main/java/org/wikimedia/metrics_platform/EventProcessor.java
  java/src/main/java/org/wikimedia/metrics_platform/EventSenderDefault.java
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/config/StreamConfigFetcher.java
  java/src/main/java/org/wikimedia/metrics_platform/utils/ServerErrorException.java
  java/src/test/java/org/wikimedia/metrics_platform/ConsistencyIT.java
  java/src/test/java/org/wikimedia/metrics_platform/EventProcessorTest.java
  java/src/test/java/org/wikimedia/metrics_platform/config/StreamConfigFetcherTest.java
  java/src/test/java/org/wikimedia/metrics_platform/config/StreamConfigIT.java
Due: test-java

Speed up CI
  .gitlab-ci.yml
Due: none

[JS] Test performer.active_browsing_session_token context attribute
  js/test/unit/ContextController.test.js
Due: test-js

Adding performer.is_temp as a contextual attribute
  js/src/ContextUtils.js
  js/src/EventData.d.ts
  js/src/StreamConfig.d.ts
  js/test/unit/ContextController.test.js
  js/test/unit/TestMetricsClientIntegration.js
  php/src/StreamConfig/StreamConfig.php
  php/src/StreamConfig/data/metrics_platform_client.schema.json
  php/tests/ContextControllerTest.php
  php/tests/TestIntegration.php
Due: test-js, test-php

Adding missed details for active_browser_session_token
  js/src/EventData.d.ts
  js/test/unit/ContextController.test.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

[JS][PHP] Add missing performer.is_temp context attribute
  js/src/ContextUtils.js
  js/src/EventData.d.ts
  js/src/StreamConfig.d.ts
  js/test/unit/ContextController.test.js
  js/test/unit/TestMetricsClientIntegration.js
  php/src/StreamConfig/StreamConfig.php
  php/src/StreamConfig/data/metrics_platform_client.schema.json
  php/tests/ContextControllerTest.php
  php/tests/TestIntegration.php
Due: test-js, test-php

[JS] [PHP] Updated web schema version for submitClick method for JS and PHP implementations
  js/src/MetricsClient.js
  php/src/MetricsClient.php
Due: test-js, test-php
