Repository wikimedia/mediawiki-libs-metrics-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-java, test-js, test-php, test-swift

test-java:
  stage: test
  tags:
  - wmcs
  variables:
    BUILD_VARIANT: test
    BUILD_CONFIG: .pipeline/blubber-java.yaml

test-js:
  stage: test
  tags:
  - wmcs
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: js

test-php:
  stage: test
  tags:
  - wmcs
  variables:
    BUILD_VARIANT: test
    BUILD_CONFIG: .pipeline/blubber-php.yaml

test-swift:
  stage: test
  tags:
  - wmcs
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: swift

composer.json: Upgrading phpunit/phpunit (9.6.22 => 9.6.23)
  composer.json
  composer.lock
Due: test-php

composer.lock: Update
  composer.lock
Due: test-php

composer.json: Upgrading mediawiki/mediawiki-codesniffer (v46.0.0 => v47.0.0)
  composer.json
  composer.lock
Due: test-php

[BREAKING CHANGE] Drop PHP 7.4 support, re-build composer.lock based on this
  .gitlab-ci.yml
  .pipeline/blubber-php.yaml
  composer.json
  composer.lock
Due: test-php

composer: Update mediawiki/mediawiki-phan-config to 0.16.0
  composer.json
  composer.lock
  php/src/MetricsClient.php
Due: test-php

Start testing on PHP 8.3
  .gitlab-ci.yml
  .pipeline/blubber-php.yaml
Due: test-php

[JS] Initial migration from TypeScript to JSDoc
  js/package-lock.json
  js/package.json
  js/src/CallQueue.ts
  js/src/ContextUtils.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/EventSubmitter.d.ts
  js/src/ExternalMetricsClient.js
  js/src/Instrument.js
  js/src/Integration.d.ts
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/test/integration/index.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/SamplingController.test.js
  js/test/unit/TestMetricsClientIntegration.js
  js/tsconfig.json
Due: test-js

[JS] Initial reorg of globals
  js/src/Context.js
  js/src/ContextController.js
  js/src/CurationController.js
  js/src/DefaultIntegration.js
  js/src/ExternalMetricsClient.js
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/src/StreamConfig.js
  js/src/StreamConfigUtils.js
Due: test-js

[JS] Update JSDoc config
  js/jsdoc.json
Due: test-js

[JS] Use jsdoc-wmf-theme
  js/jsdoc.json
  js/package-lock.json
  js/package.json
  js/src/DefaultEventSubmitter.js
  js/src/MetricsClient.js
Due: test-js

[JS] Organise types
  js/src/Context.js
  js/src/ContextController.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/DefaultIntegration.js
  js/src/ExternalMetricsClient.js
  js/src/Instrument.js
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/src/SamplingController.js
  js/src/StreamConfig.js
Due: test-js

[JS] Remove *.d.ts files after rebase
  js/src/EventData.d.ts
  js/src/StreamConfig.d.ts
Due: test-js

[JS] Move Context- and SamplingController into namespaces
  js/src/Context.js
  js/src/ContextController.js
  js/src/SamplingController.js
Due: test-js

[JS] Document InteractionContextData.instrument_name
  js/src/MetricsClient.js
Due: test-js

[JS] Fix InteractionData and InteractionContextData definitions
  js/src/MetricsClient.js
Due: test-js

[JS] Migrate from TypeScript to JSDoc
  js/jsdoc.json
  js/package-lock.json
  js/package.json
  js/src/CallQueue.ts
  js/src/Context.js
  js/src/ContextController.js
  js/src/ContextUtils.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/DefaultIntegration.js
  js/src/EventData.d.ts
  js/src/EventSubmitter.d.ts
  js/src/ExternalMetricsClient.js
  js/src/Instrument.js
  js/src/Integration.d.ts
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/src/SamplingController.js
  js/src/StreamConfig.d.ts
  js/src/StreamConfig.js
  js/src/StreamConfigUtils.js
  js/test/integration/index.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/SamplingController.test.js
  js/test/unit/TestMetricsClientIntegration.js
  js/tsconfig.json
Due: test-js

[JS] EventSubmitter -> EventTransport
  js/index.js
  js/src/EventTransport.js
  js/src/ExternalMetricsClient.js
  js/src/MetricsClient.js
  js/src/NodeEventTransport.js
  js/test/integration/index.js
  js/test/unit/DefaultEventSubmitter.test.js
  js/test/unit/DefaultEventTransport.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/Instrument.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/StubEventSubmitter.js
  js/test/unit/StubEventTransport.js
Due: test-js

[JS] Add EventSender interface...
  js/src/EventSender.js
  js/src/MetricsClient.js
Due: test-js

[JS] Add logging to MetricsClient#getEventSenderForStream()
  js/src/MetricsClient.js
Due: test-js

[JS] Actually lint...
  js/package.json
Due: test-js

[JS] Autofix
  js/src/Context.js
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/src/StreamConfig.js
Due: test-js

[JS] Fix linting errors in src/MetricsClient.js
  js/src/MetricsClient.js
Due: test-js

[JS] Fix linting errors in src/ExternalMetricsClient.js
  js/src/ExternalMetricsClient.js
Due: test-js

[JS] Fix linting errors in src/NodeEventSubmitter.js
  js/src/NodeEventSubmitter.js
Due: test-js

[JS] Fix linting errors in src/StreamConfig.js
  js/src/StreamConfig.js
Due: test-js

Fix Linting
  js/package.json
  js/src/Context.js
  js/src/ExternalMetricsClient.js
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/src/StreamConfig.js
Due: test-js

[JS] Fix linting error in src/MetricsClient.js
  js/src/MetricsClient.js
Due: test-js

[JS] Refactor Instrument to use EventSender
  js/src/Instrument.js
  js/src/MetricsClient.js
  js/src/StreamConfig.js
  js/test/unit/Instrument.test.js
Due: test-js

[JS] Autofix
  js/src/EventSender.js
  js/src/MetricsClient.js
  js/test/unit/StubEventTransport.js
Due: test-js

[JS] Add missing properties and methods
  js/src/MetricsClient.js
Due: test-js

[JS] Add stream name to EventSender
  js/src/EventSender.js
  js/src/MetricsClient.js
  js/src/StreamConfig.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Add domain to EventSender
  js/src/EventSender.js
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Tidy up MetricsClient#dispatch()
  js/src/MetricsClient.js
Due: test-js

[JS] Finalize merging of MetricsClient#addRequiredMetadata() and EventSender#sendEvent()
  js/src/EventSender.js
  js/src/MetricsClient.js
  js/test/unit/EventSender.test.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Remove several Instrument methods
  js/src/Instrument.js
  js/test/unit/Instrument.test.js
Due: test-js

Added agent.ua_string as a contextual attributes for JS and PHP client libraries
  js/src/Context.js
  js/src/MetricsClient.js
  js/src/StreamConfig.js
  js/test/unit/ContextController.test.js
  js/test/unit/TestMetricsClientIntegration.js
  php/src/MetricsClient.php
  php/src/StreamConfig/StreamConfig.php
  php/tests/ContextControllerTest.php
  php/tests/TestIntegration.php
Due: test-js, test-php

Fixed phan issues
  php/tests/ContextControllerTest.php
  php/tests/TestIntegration.php
Due: test-php

Upgrading mediawiki/mediawiki-phan-config (0.16.0 => 0.17.0)
  composer.json
  composer.lock
Due: test-php

Path conditions:
  test-java: any of: .mvn/**/*, .pipeline/blubber-java.yaml, java/**/*, mvnw, mvwn.cmnd
  test-js: any of: js/**/*
  test-php: any of: .phan/**/*, .pipeline/blubber-php.yaml, php/**/*, tests/consistency/*.php, tests/consistency/php/*, .phpcs.xml, composer.json, composer.lock
  test-swift: any of: swift/**/*
