Repository wikimedia/mediawiki-libs-metrics-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-java, test-js, test-php, test-swift

test-java:
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-java.yaml
    BUILD_VARIANT: test

test-js:
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: js

test-php:
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-php.yaml
    BUILD_VARIANT: test

test-swift:
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: swift

Replace Gerrit URLs with GitLab URLs
  .gitreview
  java/pom.xml
  js/package.json
Due: test-java, test-js

Bump up monoschema version to 2.0.0
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event.json
  js/src/MetricsClient.js
  php/src/MetricsClient.php
  php/tests/MetricsClientTest.php
  tests/consistency/expected_event.json
Due: test-java, test-js, test-php

Update Timestamp to v4.1.1
  composer.json
  composer.lock
Due: test-php

[JS][Java] Mix in sample unit and rate
  java/src/main/java/org/wikimedia/metrics_platform/CurationController.java
  java/src/main/java/org/wikimedia/metrics_platform/EventProcessor.java
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/config/CurationFilter.java
  java/src/main/java/org/wikimedia/metrics_platform/config/StreamConfig.java
  java/src/main/java/org/wikimedia/metrics_platform/config/curation/CollectionCurationRules.java
  java/src/main/java/org/wikimedia/metrics_platform/config/curation/ComparableCurationRules.java
  java/src/main/java/org/wikimedia/metrics_platform/config/curation/CurationRules.java
  java/src/main/java/org/wikimedia/metrics_platform/curation/CollectionCurationRules.java
  java/src/main/java/org/wikimedia/metrics_platform/curation/ComparableCurationRules.java
  java/src/main/java/org/wikimedia/metrics_platform/curation/CurationRules.java
  java/src/main/java/org/wikimedia/metrics_platform/event/Event.java
  java/src/main/java/org/wikimedia/metrics_platform/event/EventProcessed.java
  java/src/test/java/org/wikimedia/metrics_platform/ConsistencyIT.java
  java/src/test/java/org/wikimedia/metrics_platform/CurationControllerTest.java
  java/src/test/java/org/wikimedia/metrics_platform/EventProcessorTest.java
  java/src/test/java/org/wikimedia/metrics_platform/MetricsClientTest.java
  java/src/test/java/org/wikimedia/metrics_platform/config/CurationFilterFixtures.java
  java/src/test/java/org/wikimedia/metrics_platform/config/SourceConfigFixtures.java
  java/src/test/java/org/wikimedia/metrics_platform/curation/rules/CollectionCurationRulesTest.java
  java/src/test/java/org/wikimedia/metrics_platform/curation/rules/ComparableCurationRulesTest.java
  java/src/test/java/org/wikimedia/metrics_platform/curation/rules/CurationRulesTest.java
  js/src/ContextController.js
  js/src/EventData.d.ts
  js/src/SamplingController.js
  js/src/StreamConfigUtils.js
  js/test/unit/ContextController.test.js
Due: test-java, test-js

[JS] Add MetricsClient#submitInteraction()
  js/src/EventData.d.ts
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Update ESLint rules
  js/.eslintrc.json
  js/index.js
  js/src/ContextController.js
  js/src/ContextUtils.js
  js/src/CurationController.js
  js/src/DefaultIntegration.js
  js/src/ExternalMetricsClient.js
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/tsconfig.json
Due: test-js

[JS] Add integration test for MetricsClient#submitInteraction()
  js/test/integration/index.js
Due: test-js

[JS] Support adding context values based on stream config
  js/src/MetricsClient.js
Due: test-js

[JS] event -> eventData in MetricsClient#submitInteraction()
  js/src/MetricsClient.js
Due: test-js

[JS] Update MetricsClient#submitInteraction() signature
  js/src/EventData.d.ts
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Add schemaID param to MetricsClient#submitInteraction()
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Interaction -> InteractionData
  js/src/EventData.d.ts
  js/src/MetricsClient.js
Due: test-js

[JS] Fix incorrect schema title
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Document new interfaces
  js/src/EventData.d.ts
Due: test-js

[JS] Update docs for MetricsClient#submitInteraction()
  js/src/MetricsClient.js
Due: test-js

[JS] Update click schema ID
  js/src/MetricsClient.js
Due: test-js

[JS] ElementInteraction -> ElementInteractionData
  js/src/EventData.d.ts
  js/src/MetricsClient.js
Due: test-js

[JS] Test happy path of MetricsClient#submitInteraction()
  js/test/unit/MetricsClient.test.js
Due: test-js

[PHP] Record agent context attributes by default
  php/src/ContextController.php
Due: test-php

[PHP] Add MetricsClient#submitInteraction()
  composer.json
  composer.lock
  php/src/InteractionDataTrait.php
  php/src/MetricsClient.php
  php/tests/MetricsClientTest.php
  php/tests/TestHelperTrait.php
Due: test-php

[JS][PHP] Update DocBlocks
  js/src/MetricsClient.js
  php/src/MetricsClient.php
  php/tests/MetricsClientTest.php
Due: test-js, test-php

[Java] Udate EventProcessed serializer to remove some data objects
  java/src/main/java/org/wikimedia/metrics_platform/event/EventProcessedSerializer.java
Due: test-java

[PHP][JS][Java] Update schema paths in clients, tests.
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/test/java/org/wikimedia/metrics_platform/EndToEndIT.java
  java/src/test/resources/org/wikimedia/metrics_platform/config/streamconfigs-local.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_click.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_click_custom.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_interaction.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_view.json
  js/src/MetricsClient.js
  js/test/integration/index.js
  js/test/unit/MetricsClient.test.js
  php/src/MetricsClient.php
  php/tests/MetricsClientTest.php
  tests/consistency/expected_event_apps.json
Due: test-java, test-js, test-php

[Java] Bump snapshot version, remove tag from pom file.
  java/pom.xml
Due: test-java

Update CONTRIBUTING
  CONTRIBUTING.md
Due: none

[maven-release-plugin] prepare release metrics-platform-2.0
  java/pom.xml
Due: test-java

[maven-release-plugin] prepare for next development iteration
  java/pom.xml
Due: test-java

[JS] Update monoschema schema URI
  js/src/MetricsClient.js
Due: test-js

[DNM] Testing Java end-to-end
  java/pom.xml.bak
  java/src/main/java/org/wikimedia/metrics_platform/ContextController.java
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/config/StreamConfig.java
  java/src/test/java/org/wikimedia/metrics_platform/EndToEndIT.java
Due: test-java

Remove backup pom
  java/pom.xml.bak
Due: test-java

[PHP] Reinstate MetricsClient::SCHEMA constant
  php/src/MetricsClient.php
Due: test-php

[Java] Improve response and error handling from server.
  java/src/main/java/org/wikimedia/metrics_platform/EventProcessor.java
  java/src/main/java/org/wikimedia/metrics_platform/EventSenderDefault.java
  java/src/main/java/org/wikimedia/metrics_platform/utils/ServerErrorException.java
Due: test-java

Using wikimedia/timestamp and ConvertibleTimestamp::setFakeTime() in the MP PHP client library
  composer.json
  composer.lock
  php/src/MetricsClient.php
  php/tests/MetricsClientTest.php
  php/tests/TestHelperTrait.php
Due: test-php

[Java] Update submit methods to require stream name
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/test/java/org/wikimedia/metrics_platform/ConsistencyIT.java
  java/src/test/java/org/wikimedia/metrics_platform/EndToEndIT.java
  java/src/test/java/org/wikimedia/metrics_platform/MetricsClientTest.java
  java/src/test/java/org/wikimedia/metrics_platform/context/DataFixtures.java
  java/src/test/resources/org/wikimedia/metrics_platform/config/streamconfigs-local.json
Due: test-java

T352966
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/test/unit/SamplingController.test.js
Due: test-js

Revert "T352966"
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/test/unit/SamplingController.test.js
Due: test-js

T352966_js_isStreamInSample
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/test/unit/SamplingController.test.js
Due: test-js

Revert "T352966_js_isStreamInSample"
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/test/unit/SamplingController.test.js
Due: test-js

Path conditions:
  test-java: any of: .mvn/**/*, java/**/*, mvnw, mvwn.cmnd
  test-js: any of: js/**/*
  test-php: any of: .phan/**/*, php/**/*, .phpcs.xml, composer.json, composer.lock
  test-swift: any of: swift/**/*
