Repository wikimedia/mediawiki-libs-metrics-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-java, test-js, test-php81, test-php83, test-swift

.gitlab-ci.yml:

# Autogenerated by pipeline-to-gitlab
include:
  - project: 'repos/releng/kokkuri'
    file: 'includes/images.yaml'

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - test
  - deploy

.test-client:
  # Job template: all client library tests
  extends: .kokkuri:build-and-run-image
  stage: test
  variables:
    BUILD_VARIANT: test

test-java:
  stage: test
  # Run tests for Java client library
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event' || $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      changes:
        - .mvn/**/*
        - java/**/*
        - mvnw
        - mvwn.cmnd
  trigger:
    strategy: depend
    include:
      - component: $CI_SERVER_FQDN/repos/maven/wmf-maven-ci/mvn-job-verify@2.1.2
        inputs:
          pom-dir: java
          workflow-rules:
            - if: $CI_PIPELINE_SOURCE == "parent_pipeline"

test-js:
  # Run tests for Javascript client library
  extends: .test-client
  rules:
    - changes:
        - js/**/*
  variables:
    BUILD_CONTEXT: js

.test-client-php:
  # Job template: PHP client library tests
  extends: .test-client
  rules:
    - changes:
        - .phan/**/*
        - .pipeline/blubber-php.yaml
        - php/**/*
        - tests/consistency/*.php
        - tests/consistency/php/*
        - .phpcs.xml
        - composer.json
        - composer.lock
  variables:
    BUILD_CONFIG: .pipeline/blubber-php.yaml
    # Use the job name as the blubber build variant
    BUILD_VARIANT: "${CI_JOB_NAME}"

test-php81:
  # Run tests for PHP client library with PHP 8.1 runtime
  extends: .test-client-php

test-php83:
  # Run tests for PHP client library with PHP 8.3 runtime
  extends: .test-client-php

test-swift:
  extends: .test-client
  rules:
    - changes:
        - swift/**/*
  variables:
    BUILD_CONTEXT: swift

composer.lock: Update
  composer.lock
Due: test-php81, test-php83

composer.json: Upgrading ockcyp/covers-validator (v1.6.0 => v1.7.0)
  composer.json
  composer.lock
Due: test-php81, test-php83

composer.json: Upgrading phpunit/phpunit (9.6.23 => 10.5.58)
  composer.json
  composer.lock
  php/tests/StreamConfig/StreamConfigFactoryTest.php
  php/tests/StreamConfig/ValidatingStreamConfigFactoryTest.php
  phpunit.xml.dist
Due: test-php81, test-php83

Fix PHP and JS consistency tests
  tests/consistency/ConsistencyTest.php
  tests/consistency/expected_event.json
  tests/consistency/integration_data.json
  tests/consistency/js/EventSubmitter.js
  tests/consistency/js/Integration.js
  tests/consistency/js/main.js
  tests/consistency/php/main.php
  tests/consistency/stream_configs.json
Due: test-php81, test-php83

composer: Drop some old dependancy versions
  composer.json
  composer.lock
Due: test-php81, test-php83

Upgrading psr/log (1.1.4 => 3.0.2)
  composer.json
  composer.lock
Due: test-php81, test-php83

Shows a warning message when stream is not registered or is out of sample
  js/src/MetricsClient.js
Due: test-js

composer: Various updates
  composer.json
  composer.lock
Due: test-php81, test-php83

Updated pipeline to use node v22
  js/.pipeline/blubber.yaml
Due: test-js

cleanup: remove deprecated stream fixture
  java/src/test/resources/org/wikimedia/metrics_platform/config/streamconfigs-local.json
  java/src/test/resources/org/wikimedia/metrics_platform/config/streamconfigs.json
Due: test-java

Remove MetricsClient#newInstrument()
  js/src/Instrument.js
  js/src/MetricsClient.js
  js/test/integration/index.js
  js/test/unit/Instrument.test.js
Due: test-js

Fix ESLint warnings
  js/src/DefaultIntegration.js
Due: test-js

Remove MetricsClient#newInstrument()
  js/src/DefaultIntegration.js
  js/src/Instrument.js
  js/src/MetricsClient.js
  js/test/integration/index.js
  js/test/unit/Instrument.test.js
Due: test-js

[Java] Remove Wikistories streams from test fixtures
  java/src/test/resources/org/wikimedia/metrics_platform/config/streamconfigs-local.json
  java/src/test/resources/org/wikimedia/metrics_platform/config/streamconfigs.json
Due: test-java

CI: build java via child pipeline
  .gitignore
  .gitlab-ci.yml
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  .pipeline/blubber-java.yaml
  java/.mvn/wrapper/maven-wrapper.properties
  java/mvnw
  java/mvnw.cmd
  java/pom.xml
  mvnw
  mvnw.cmd
Due: test-java

[JS] Remove active_browsing_session_token contextual attribute
  js/src/Context.js
  js/src/StreamConfig.js
  js/test/unit/ContextController.test.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js
