Repository wikimedia/mediawiki-libs-metrics-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-java, test-js, test-php, test-swift

test-java:
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-java.yaml
    BUILD_VARIANT: test

test-js:
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: js

test-php:
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-php.yaml
    BUILD_VARIANT: test

test-swift:
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: swift

[JS] Organise types
  js/src/Context.js
  js/src/ContextController.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/DefaultIntegration.js
  js/src/ExternalMetricsClient.js
  js/src/Instrument.js
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/src/SamplingController.js
  js/src/StreamConfig.js
Due: test-js

Removed agent_app_install_id from web based client libraries
  js/src/ContextUtils.js
  js/src/EventData.d.ts
  js/src/StreamConfig.d.ts
  php/src/StreamConfig/StreamConfig.php
  php/src/StreamConfig/data/metrics_platform_client.schema.json
  php/tests/ContextControllerTest.php
  php/tests/TestIntegration.php
  tests/consistency/expected_event.json
  tests/consistency/integration_data.json
  tests/consistency/stream_configs.json
Due: test-js, test-php

Removed contextual attributes that are added automatically from the test stream configuration
  tests/consistency/stream_configs.json
Due: none

experiments details as interaction data will be included with the event. Added a related unit test
  js/src/EventData.d.ts
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

experiments details as interaction data are merged with the ones that exist as currentUserExperiments
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

Added ignored error number
  js/src/MetricsClient.js
Due: test-js

experiments details as interaction data will be included in the event. Added a related unit test
  js/src/EventData.d.ts
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Initial migration from TypeScript to JSDoc
  js/package-lock.json
  js/package.json
  js/src/CallQueue.ts
  js/src/ContextUtils.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/EventSubmitter.d.ts
  js/src/ExternalMetricsClient.js
  js/src/Instrument.js
  js/src/Integration.d.ts
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/test/integration/index.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/SamplingController.test.js
  js/test/unit/TestMetricsClientIntegration.js
  js/tsconfig.json
Due: test-js

[JS] Update JSDoc config
  js/jsdoc.json
Due: test-js

[JS] Use jsdoc-wmf-theme
  js/jsdoc.json
  js/package-lock.json
  js/package.json
  js/src/DefaultEventSubmitter.js
  js/src/MetricsClient.js
Due: test-js

[JS] Initial reorg of globals
  js/src/Context.js
  js/src/ContextController.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/DefaultIntegration.js
  js/src/ExternalMetricsClient.js
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/src/StreamConfig.js
  js/src/StreamConfigUtils.js
Due: test-js

[JS] Remove *.d.ts files after rebase
  js/src/EventData.d.ts
  js/src/StreamConfig.d.ts
Due: test-js

composer.lock: Update
  composer.lock
Due: test-php

composer.json: Update mediawiki libraries
  composer.json
  composer.lock
Due: test-php

composer.json: phpunit/phpunit 9.6.22
  composer.json
  composer.lock
Due: test-php

composer.json: Allow justinrainbow/json-schema ~6.2.1
  composer.json
  composer.lock
Due: test-php

blubber-php.yaml: Use 1.1.0-s3 image
  .pipeline/blubber-php.yaml
Due: none

blubber-php.yaml: Test on PHP 8.1
  .gitlab-ci.yml
  .pipeline/blubber-php.yaml
Due: none

ci: Show php version when running `composer test`
  composer.json
Due: test-php

dev: Ignore .php-version file in local clone
  .gitignore
Due: none

ci: Refactor .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

ci: Refactor gitlab-ci config
  .gitlab-ci.yml
Due: none

ci: Run PHP client tests using PHP 8.1
  .gitlab-ci.yml
  .pipeline/blubber-php.yaml
  composer.json
Due: test-php

Add experiment enrollment data to PHP library
  php/src/ExperimentConfig/ExperimentConfig.php
  php/src/ExperimentConfig/ExperimentConfigException.php
  php/src/ExperimentConfig/ExperimentConfigFactory.php
  php/src/Instrument.php
  php/src/MetricsClient.php
  php/tests/InstrumentTest.php
  php/tests/MetricsClientTest.php
  php/tests/TestHelperTrait.php
Due: test-php

Remove ExperimentConfig classes
  php/src/ExperimentConfig/ExperimentConfig.php
  php/src/ExperimentConfig/ExperimentConfigException.php
  php/src/ExperimentConfig/ExperimentConfigFactory.php
  php/src/MetricsClient.php
  php/tests/InstrumentTest.php
  php/tests/MetricsClientTest.php
  php/tests/TestHelperTrait.php
Due: test-php

Remove cruft
  php/tests/TestHelperTrait.php
Due: test-php

Remove unneeded array in test trait
  php/tests/TestHelperTrait.php
Due: test-php

JS client library updates to simplify the submitInteraction function
  js/src/DefaultIntegration.js
  js/src/EventData.d.ts
  js/src/Integration.d.ts
  js/src/MetricsClient.js
  js/test/integration/NodeIntegration.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

CI: build java via child pipeline
  .gitignore
  .gitlab-ci.yml
  .mvn/wrapper/MavenWrapperDownloader.java
  .mvn/wrapper/maven-wrapper.properties
  .pipeline/blubber-java.yaml
  java/.mvn/wrapper/maven-wrapper.properties
  java/mvnw
  java/mvnw.cmd
  java/pom.xml
  mvnw
  mvnw.cmd
Due: test-java

Draft: Experiment enrollment service routing
  js/src/EventSubmitter.d.ts
  js/src/MetricsClient.js
Due: test-js

DefaultEventSubmitter: Accept URL rather than origin
  js/index.js
  js/src/DefaultEventSubmitter.js
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/test/unit/DefaultEventSubmitter.test.js
Due: test-js

Don't use WMCS-hosted runners
  .gitlab-ci.yml
Due: none

DefaultEventSubmitter: Accept URL rather than origin
  .gitlab-ci.yml
  js/index.js
  js/src/DefaultEventSubmitter.js
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/test/unit/DefaultEventSubmitter.test.js
Due: test-js

composer.json: Upgrading phpunit/phpunit (9.6.22 => 9.6.23)
  composer.json
  composer.lock
Due: test-php

composer.json: Upgrading mediawiki/mediawiki-codesniffer (v46.0.0 => v47.0.0)
  composer.json
  composer.lock
Due: test-php

Path conditions:
  test-java: any of: .mvn/**/*, java/**/*, mvnw, mvwn.cmnd
  test-js: any of: js/**/*
  test-php: any of: .phan/**/*, php/**/*, tests/consistency/*.php, tests/consistency/php/*, .phpcs.xml, composer.json, composer.lock
  test-swift: any of: swift/**/*
