Repository wikimedia/mediawiki-libs-metrics-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-java, test-js, test-php81, test-swift

.gitlab-ci.yml:

# Autogenerated by pipeline-to-gitlab
include:
  - project: 'repos/releng/kokkuri'
    file: 'includes/images.yaml'

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - test

.test-client:
  # Job template: all client library tests
  extends: .kokkuri:build-and-run-image
  stage: test
  variables:
    BUILD_VARIANT: test

test-java:
  # Run tests for Java client library
  extends: .test-client
  rules:
    - changes:
        - .mvn/**/*
        - .pipeline/blubber-java.yaml
        - java/**/*
        - mvnw
        - mvwn.cmnd
  variables:
    BUILD_CONFIG: .pipeline/blubber-java.yaml

test-js:
  # Run tests for Javascript client library
  extends: .test-client
  rules:
    - changes:
        - js/**/*
  variables:
    BUILD_CONTEXT: js

.test-client-php:
  # Job template: PHP client library tests
  extends: .test-client
  rules:
    - changes:
        - .phan/**/*
        - .pipeline/blubber-php.yaml
        - php/**/*
        - tests/consistency/*.php
        - tests/consistency/php/*
        - .phpcs.xml
        - composer.json
        - composer.lock
  variables:
    BUILD_CONFIG: .pipeline/blubber-php.yaml
    # Use the job name as the blubber build variant
    BUILD_VARIANT: "${CI_JOB_NAME}"

test-php81:
  # Run tests for PHP client library with PHP 8.1 runtime
  extends: .test-client-php

test-swift:
  extends: .test-client
  rules:
    - changes:
        - swift/**/*
  variables:
    BUILD_CONTEXT: swift

Added agent.ua_string as a contextual attributes to JS and PHP client libraries
  js/src/Context.js
  js/src/MetricsClient.js
  js/src/StreamConfig.js
  js/test/unit/ContextController.test.js
  js/test/unit/TestMetricsClientIntegration.js
  php/src/MetricsClient.php
  php/src/StreamConfig/StreamConfig.php
  php/tests/ContextControllerTest.php
  php/tests/TestIntegration.php
Due: test-js, test-php81

composer.lock: Update
  composer.lock
Due: test-php81

Upgrading mediawiki/mediawiki-codesniffer (v47.0.0 => v48.0.0)
  composer.json
  composer.lock
Due: test-php81

Upgrading mediawiki/mediawiki-phan-config (0.16.0 => 0.17.0)
  composer.json
  composer.lock
Due: test-php81

[JS] Add Instrument#setSchemaID() method
  js/src/Instrument.js
Due: test-js

[JS] Make Instrument setters chainable
  js/src/Instrument.js
Due: test-js

[JS] Allow an event to be redirected to another stream
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

Unify page_namespace_id spelling as contextual attribute for JS and PHP client libraries
  js/src/Context.js
  js/src/StreamConfig.js
  js/test/unit/ContextController.test.js
  js/test/unit/CurationController.test.js
  js/test/unit/TestMetricsClientIntegration.js
  php/src/StreamConfig/StreamConfig.php
  php/src/StreamConfig/data/metrics_platform_client.schema.json
  php/tests/ContextControllerTest.php
  php/tests/CurationControllerTest.php
  php/tests/TestIntegration.php
  tests/consistency/stream_configs.json
Due: test-js, test-php81

composer: Allow wikimedia/timestamp ^5.0.0
  composer.json
  composer.lock
  php/tests/MetricsClientTest.php
Due: test-php81

[PHP] MetricsClientTest: Use DateTimeImmutable in ::assertIsValidTimestamp()
  php/tests/MetricsClientTest.php
Due: test-php81

ci: Use explicit syntax in blubber.yaml files
  js/.pipeline/blubber.yaml
  swift/.pipeline/blubber.yaml
Due: test-js, test-swift

Add testcase for SamplingController
  java/src/test/java/org/wikimedia/metrics_platform/SamplingControllerTest.java
Due: test-java

Removed dispatch method and supporting methods from JS client
  js/src/CurationController.js
  js/src/ExternalMetricsClient.js
  js/src/MetricsClient.js
  js/src/StreamConfig.js
  js/test/integration/index.js
  js/test/unit/CurationController.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
Due: test-js

Removed unused class: CurationController.php
  .pipeline/blubber-php.yaml
  php/src/CurationController.php
  php/src/MetricsClient.php
  php/tests/CurationControllerTest.php
Due: test-php81

Updated blubber java file
  .pipeline/blubber-java.yaml
Due: test-java

[Java] page_namespace -> page_namespace_id
  java/src/test/resources/org/wikimedia/metrics_platform/config/streamconfigs-local.json
  java/src/test/resources/org/wikimedia/metrics_platform/config/streamconfigs.json
Due: test-java

Shows a warning message when stream is not registered or out of sample
  js/src/MetricsClient.js
Due: test-js

Fixed lint issues
  js/src/MetricsClient.js
Due: test-js

Increase required PHP version to 8.2
  .gitlab-ci.yml
  .pipeline/blubber-php.yaml
  composer.json
  composer.lock
Due: test-php81

composer.json: Upgrading ockcyp/covers-validator (v1.6.0 => v1.7.0)
  composer.json
  composer.lock
Due: test-php81

composer.json: Upgrading phpunit/phpunit (9.6.23 => 10.5.58)
  composer.json
  composer.lock
  php/tests/StreamConfig/StreamConfigFactoryTest.php
  php/tests/StreamConfig/ValidatingStreamConfigFactoryTest.php
  phpunit.xml.dist
Due: test-php81

php: Various cleanup and updates
  php/src/ContextController.php
  php/src/EventSubmitter.php
  php/src/MetricsClient.php
  php/src/StreamConfig/StreamConfig.php
  php/src/StreamConfig/StreamConfigFactory.php
  php/src/StreamConfig/ValidatingStreamConfigFactory.php
  php/tests/ContextControllerTest.php
  php/tests/MetricsClientTest.php
  php/tests/StreamConfig/ValidatingStreamConfigFactoryTest.php
  php/tests/TestEventSubmitter.php
  php/tests/TestHelperTrait.php
  php/tests/TestIntegration.php
Due: test-php81

Simplify Integration Interface
  js/index.js
  js/src/DefaultIntegration.js
  js/src/DefaultLogger.js
  js/src/ExternalMetricsClient.js
  js/src/Integration.js
  js/src/Logger.js
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/test/integration/NodeIntegration.js
  js/test/unit/DefaultIntegration.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/Instrument.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/TestMetricsClientIntegration.js
  js/test/unit/TestMetricsClientLogger.js
Due: test-js

Update integration tests
  js/test/integration/NodeIntegration.js
  js/test/integration/NodeLogger.js
  js/test/integration/index.js
Due: test-js

Bump base schema version for JS and PHP client libraries
  js/src/MetricsClient.js
  php/src/MetricsClient.php
Due: test-js, test-php81

removed clone method
  js/src/DefaultIntegration.js
  js/src/Integration.js
  js/src/MetricsClient.js
  js/test/unit/ContextController.test.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

Fix PHP and JS consistency tests
  tests/consistency/ConsistencyTest.php
  tests/consistency/expected_event.json
  tests/consistency/integration_data.json
  tests/consistency/js/EventSubmitter.js
  tests/consistency/js/Integration.js
  tests/consistency/js/main.js
  tests/consistency/php/main.php
  tests/consistency/stream_configs.json
Due: test-php81

Updated integration tests
  js/test/integration/NodeIntegration.js
  js/test/integration/index.js
Due: test-js

Added again clone function
  js/src/DefaultIntegration.js
  js/src/DefaultLogger.js
  js/src/Integration.js
  js/src/MetricsClient.js
  js/test/integration/NodeIntegration.js
  js/test/integration/NodeLogger.js
  js/test/unit/ContextController.test.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

Added ExternalIntegration interface for integration with non-wiki sites
  js/src/DefaultIntegration.js
  js/src/ExternalIntegration.js
  js/test/integration/NodeIntegration.js
  js/test/integration/NodeLogger.js
  js/test/integration/index.js
Due: test-js

Reverted node integration domain change
  js/test/integration/index.js
Due: test-js

Fixed comment
  js/src/DefaultIntegration.js
Due: test-js

Simplify Integration Interface
  js/index.js
  js/src/DefaultIntegration.js
  js/src/DefaultLogger.js
  js/src/ExternalIntegration.js
  js/src/ExternalMetricsClient.js
  js/src/Integration.js
  js/src/Logger.js
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/test/integration/NodeIntegration.js
  js/test/integration/NodeLogger.js
  js/test/integration/index.js
  js/test/unit/ContextController.test.js
  js/test/unit/DefaultIntegration.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/Instrument.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/TestMetricsClientIntegration.js
  js/test/unit/TestMetricsClientLogger.js
Due: test-js

Used this.logger.logWarning to log the warn message
  js/src/MetricsClient.js
Due: test-js
