Repository wikimedia/mediawiki-libs-metrics-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-java, test-js, test-php, test-swift

test-java:
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-java.yaml
    BUILD_VARIANT: test

test-js:
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: js

test-php:
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-php.yaml
    BUILD_VARIANT: test

test-swift:
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: swift

Add caching of stream configs
  java/pom.xml
  java/src/main/java/org/wikimedia/metrics_platform/config/StreamConfigFetcher.java
  java/src/test/java/org/wikimedia/metrics_platform/config/StreamConfigFetcherTest.java
Due: test-java

[JS] Extract EventSubmitter interface
  js/index.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/DefaultIntegration.js
  js/src/EventSubmitter.d.ts
  js/src/ExternalMetricsClient.js
  js/src/Integration.d.ts
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/test/integration/NodeIntegration.js
  js/test/integration/index.js
  js/test/unit/DefaultEventSubmitter.test.js
  js/test/unit/DefaultIntegration.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/StubEventSubmitter.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

[JS] Create Instrument class/newInstrument API
  js/src/EventData.d.ts
  js/src/Instrument.js
  js/src/MetricsClient.js
  js/test/integration/README.md
  js/test/integration/index.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/Instrument.test.js
  js/test/unit/MetricsClient.test.js
Due: test-js

Bump app base version and Java lib version to 2.8
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_click.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_interaction.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_view.json
  tests/consistency/expected_event_apps.json
Due: test-java

[maven-release-plugin] prepare release metrics-platform-2.8
  java/pom.xml
Due: test-java

[maven-release-plugin] prepare for next development iteration
  java/pom.xml
Due: test-java

Resolve T365281 "/notify of sourceconfig reload"
  java/pom.xml
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/config/ConfigFetcherRunnable.java
  java/src/main/java/org/wikimedia/metrics_platform/config/StreamConfigFetcher.java
  java/src/test/java/org/wikimedia/metrics_platform/ConsistencyIT.java
  java/src/test/java/org/wikimedia/metrics_platform/config/StreamConfigFetcherTest.java
  java/src/test/java/org/wikimedia/metrics_platform/config/StreamConfigIT.java
Due: test-java

[Java] Follow-up to sourceconfig reloading.
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/config/StreamConfigFetcher.java
Due: test-java

[JS] Disable type checking for src/Instrument.js
  js/src/Instrument.js
Due: test-js

composer.lock: Update
  composer.lock
Due: test-php

[JS] Fix DefaultEventSubmitter#doSubmitEvents()
  js/src/DefaultEventSubmitter.js
Due: test-js

update js integration and metrics client
  js/src/DefaultIntegration.js
  js/src/Integration.d.ts
  js/src/MetricsClient.js
Due: test-js

update according to comment changes
  js/src/DefaultIntegration.js
  js/src/Integration.d.ts
  js/src/MetricsClient.js
Due: test-js

Added/updated test code and fixed a couple of issues
  js/src/DefaultIntegration.js
  js/src/MetricsClient.js
  js/test/integration/NodeIntegration.js
  js/test/integration/index.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

Added a new test case to prove that experiments are not added to the event when schema doesn't include that fragment
  js/test/unit/MetricsClient.test.js
Due: test-js

Fixed sample streamconfig data
  js/test/unit/MetricsClient.test.js
Due: test-js

[maven-release-plugin] prepare release metrics-platform-2.9
  java/pom.xml
Due: test-java

Making isCurrentUserEnrolled avaiable from MetricsClient
  js/src/Integration.d.ts
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Initial migration from TypeScript to JSDoc
  js/package-lock.json
  js/package.json
  js/src/CallQueue.ts
  js/src/ContextUtils.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/EventData.d.ts
  js/src/EventSubmitter.d.ts
  js/src/ExternalMetricsClient.js
  js/src/Instrument.js
  js/src/Integration.d.ts
  js/src/MetricsClient.js
  js/src/NodeEventSubmitter.js
  js/src/StreamConfig.d.ts
  js/test/integration/index.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/SamplingController.test.js
  js/test/unit/TestMetricsClientIntegration.js
  js/tsconfig.json
Due: test-js

composer: Update various dev dependancies
  composer.json
  composer.lock
Due: test-php

phpunit.xml.dist: Update schema
  phpunit.xml.dist
Due: none

[JS] Add TODO about StreamProducerConfig.sampling
  js/src/StreamConfig.d.ts
Due: test-js

[JS] Allow MetricsClient#newInstrument( instrumentName )
  js/src/EventData.d.ts
  js/src/Instrument.js
  js/src/MetricsClient.js
  js/src/NullInstrument.js
  js/src/StreamConfig.d.ts
Due: test-js

[JS] MetricsClient#newInstrument(): Use default stream
  js/src/MetricsClient.js
  js/src/NullInstrument.js
Due: test-js

[JS] Document MetricsClient#newInstrument()
  js/src/MetricsClient.js
Due: test-js

[JS] Bump web base schema ID to v1.3.0
  js/src/MetricsClient.js
Due: test-js

Allow MetricsClient#newInstrument(instrumentName)
  js/src/EventData.d.ts
  js/src/Instrument.js
  js/src/MetricsClient.js
  js/src/StreamConfig.d.ts
Due: test-js

[JS] Initial reorg of globals
  js/src/Context.js
  js/src/ContextController.js
  js/src/ContextUtils.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/DefaultIntegration.js
  js/src/ExternalMetricsClient.js
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/src/StreamConfig.js
  js/src/StreamConfigUtils.js
Due: test-js

[JS] Use jsdoc-wmf-theme
  js/jsdoc.json
  js/package-lock.json
  js/package.json
  js/src/DefaultEventSubmitter.js
  js/src/MetricsClient.js
Due: test-js

Add links to documentation pages on Wikitech
  java/src/main/java/org/wikimedia/metrics_platform/ContextController.java
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/context/ContextValue.java
  js/src/ContextController.js
  js/src/ContextUtils.js
  js/src/EventData.d.ts
  js/src/Instrument.js
  js/src/MetricsClient.js
  php/src/ContextController.php
  php/src/MetricsClient.php
  php/src/StreamConfig/StreamConfig.php
  swift/Sources/WikimediaMetricsPlatform/Context/ContextController.swift
  swift/Sources/WikimediaMetricsPlatform/MetricsClient.swift
  swift/Sources/WikimediaMetricsPlatform/StreamConfig/ContextAttribute.swift
Due: test-java, test-js, test-php, test-swift

composer.json: Relax constraint on wikimedia/timestamp to allow newer verisons
  composer.json
  composer.lock
Due: test-php

composer.json: Allow justinrainbow/json-schema ~5.3.0
  composer.json
  composer.lock
Due: test-php

composer.json: Bump mediawiki/mediawiki-codesniffer to 45.0.0
  composer.json
  composer.lock
Due: test-php

composer.json: Bump phpunit/phpunit 9.6.21
  composer.json
  composer.lock
Due: test-php

[JS] Initial reorg of globals
  js/src/Context.js
  js/src/ContextController.js
  js/src/CurationController.js
  js/src/DefaultEventSubmitter.js
  js/src/DefaultIntegration.js
  js/src/ExternalMetricsClient.js
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/src/StreamConfig.js
  js/src/StreamConfigUtils.js
Due: test-js

[JS] Update JSDoc config
  js/jsdoc.json
Due: test-js

Path conditions:
  test-java: any of: .mvn/**/*, java/**/*, mvnw, mvwn.cmnd
  test-js: any of: js/**/*
  test-php: any of: .phan/**/*, php/**/*, tests/consistency/*.php, tests/consistency/php/*, .phpcs.xml, composer.json, composer.lock
  test-swift: any of: swift/**/*
