Repository wikimedia/mediawiki-libs-metrics-platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-java, test-js, test-php, test-swift

.gitlab-ci.yml:

# Autogenerated by pipeline-to-gitlab
include:
  - project: 'repos/releng/kokkuri'
    file: 'includes/images.yaml'

variables:
  GIT_SUBMODULE_STRATEGY: recursive
    
stages:
- test

test-java:
  extends: .kokkuri:build-and-run-image
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
    changes:
      - .mvn/**/*
      - java/**/*
      - mvnw
      - mvwn.cmnd
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-java.yaml
    BUILD_VARIANT: test

test-js:
  extends: .kokkuri:build-and-run-image
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
    changes:
      - js/**/*
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: js

test-php:
  extends: .kokkuri:build-and-run-image
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
    changes:
      - .phan/**/*
      - php/**/*
      - .phpcs.xml
      - composer.json
      - composer.lock
  stage: test
  variables:
    BUILD_CONFIG: .pipeline/blubber-php.yaml
    BUILD_VARIANT: test

test-swift:
  extends: .kokkuri:build-and-run-image
  rules:
  - if: $CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
    changes:
      - swift/**/*
  stage: test
  variables:
    BUILD_VARIANT: test
    BUILD_CONTEXT: swift

[Java] Fix missing client data, clean up
  java/src/main/java/org/wikimedia/metrics_platform/ContextController.java
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/event/EventProcessed.java
  java/src/main/java/org/wikimedia/metrics_platform/event/EventProcessedSerializer.java
  java/src/test/java/org/wikimedia/metrics_platform/ConsistencyIT.java
  java/src/test/java/org/wikimedia/metrics_platform/ConsistencyITClientData.java
  java/src/test/java/org/wikimedia/metrics_platform/ContextControllerTest.java
  java/src/test/java/org/wikimedia/metrics_platform/EventProcessorTest.java
  java/src/test/java/org/wikimedia/metrics_platform/MetricsClientTest.java
  java/src/test/java/org/wikimedia/metrics_platform/config/SourceConfigFixtures.java
  java/src/test/java/org/wikimedia/metrics_platform/config/StreamConfigFixtures.java
  java/src/test/java/org/wikimedia/metrics_platform/context/DataFixtures.java
Due: test-java

[maven-release-plugin] prepare release metrics-platform-2.1
  java/pom.xml
Due: test-java

[maven-release-plugin] prepare for next development iteration
  java/pom.xml
Due: test-java

[JS] Changes wrt T352966
  js/src/MetricsClient.js
  js/src/SamplingController.js
  js/test/unit/SamplingController.test.js
Due: test-js

[Java] Fix validation error for app_version, clean up
  java/src/main/java/org/wikimedia/metrics_platform/EventSenderDefault.java
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/context/AgentData.java
  java/src/test/java/org/wikimedia/metrics_platform/EventProcessorTest.java
  java/src/test/java/org/wikimedia/metrics_platform/EventTest.java
  java/src/test/java/org/wikimedia/metrics_platform/context/AgentDataTest.java
  java/src/test/java/org/wikimedia/metrics_platform/context/DataFixtures.java
Due: test-java

[maven-release-plugin] prepare release metrics-platform-2.2
  java/pom.xml
Due: test-java

[Java] Update library for UBN fixes, add-ons
  java/src/main/java/org/wikimedia/metrics_platform/ContextController.java
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/SessionController.java
  java/src/main/java/org/wikimedia/metrics_platform/context/AgentData.java
  java/src/main/java/org/wikimedia/metrics_platform/context/ContextValue.java
  java/src/test/java/org/wikimedia/metrics_platform/ContextControllerTest.java
  java/src/test/java/org/wikimedia/metrics_platform/EventProcessorTest.java
  java/src/test/java/org/wikimedia/metrics_platform/context/AgentDataTest.java
  java/src/test/java/org/wikimedia/metrics_platform/context/DataFixtures.java
  java/src/test/resources/org/wikimedia/metrics_platform/config/streamconfigs-local.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_click.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_click_custom.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_interaction.json
  java/src/test/resources/org/wikimedia/metrics_platform/event/expected_event_view.json
  tests/consistency/expected_event_apps.json
Due: test-java

[maven-release-plugin] prepare release metrics-platform-2.3
  java/pom.xml
Due: test-java

Remove MetricsClient#dispatch()
  php/src/MetricsClient.php
  php/tests/MetricsClientTest.php
Due: test-php

New test case added to the SamplingController tests
  js/test/unit/SamplingController.test.js
Due: test-js

[Java] Fix random session id generator
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/SessionController.java
Due: test-java

[Java] Add test for sessionid length
  java/src/test/java/org/wikimedia/metrics_platform/SessionControllerTest.java
Due: test-java

[maven-release-plugin] prepare release metrics-platform-2.4
  java/pom.xml
Due: test-java

Move SampleConfig to its own package to prevent cycles.
  java/src/main/java/org/wikimedia/metrics_platform/SamplingController.java
  java/src/main/java/org/wikimedia/metrics_platform/config/StreamConfig.java
  java/src/main/java/org/wikimedia/metrics_platform/config/sampling/SampleConfig.java
  java/src/main/java/org/wikimedia/metrics_platform/event/Event.java
  java/src/main/java/org/wikimedia/metrics_platform/event/EventProcessed.java
  java/src/test/java/org/wikimedia/metrics_platform/SamplingControllerTest.java
  java/src/test/java/org/wikimedia/metrics_platform/config/SampleConfigTest.java
  java/src/test/java/org/wikimedia/metrics_platform/config/StreamConfigFixtures.java
  java/src/test/java/org/wikimedia/metrics_platform/config/StreamConfigTest.java
Due: test-java

Refactor curation rules - CurationRules
  java/src/main/java/org/wikimedia/metrics_platform/CurationController.java
  java/src/main/java/org/wikimedia/metrics_platform/config/curation/CurationRules.java
Due: test-java

Refactor curation rules - CollectionCurationRules
  java/src/main/java/org/wikimedia/metrics_platform/CurationController.java
  java/src/main/java/org/wikimedia/metrics_platform/config/curation/CollectionCurationRules.java
Due: test-java

Refactor curation rules - ComparableCurationRules
  java/src/main/java/org/wikimedia/metrics_platform/CurationController.java
  java/src/main/java/org/wikimedia/metrics_platform/config/curation/ComparableCurationRules.java
Due: test-java

Refactor curation rules - CurationFilter
  java/src/main/java/org/wikimedia/metrics_platform/CurationController.java
  java/src/main/java/org/wikimedia/metrics_platform/config/CurationFilter.java
Due: test-java

Adding a new contextual attribute: performer.activity_token
  js/src/ContextUtils.js
  js/src/StreamConfig.d.ts
Due: test-js

Changing attribute name to performer_active_browsing_session_token
  js/src/ContextUtils.js
  js/src/StreamConfig.d.ts
Due: test-js

Migrate to wmf-jvm-parent-pom.
  java/pom.xml
  java/src/main/java/org/wikimedia/metrics_platform/EventSenderDefault.java
  java/src/main/java/org/wikimedia/metrics_platform/MetricsClient.java
  java/src/main/java/org/wikimedia/metrics_platform/SessionController.java
  java/src/main/java/org/wikimedia/metrics_platform/config/StreamConfigFetcher.java
Due: test-java

[JS] Replace var with const or let in tests
  js/src/Submitter.js
  js/test/integration/NodeIntegration.js
  js/test/unit/ContextController.test.js
  js/test/unit/CurationController.test.js
  js/test/unit/DefaultIntegration.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/SamplingController.test.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

[JS] Replace functions with arrow functions in tests
  js/test/unit/ContextController.test.js
  js/test/unit/CurationController.test.js
  js/test/unit/DefaultIntegration.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/SamplingController.test.js
Due: test-js

[JS] Add Submitter
  js/src/EventData.d.ts
  js/src/Submitter.js
  js/test/unit/Submitter.test.js
Due: test-js

[JS] Optionally submit init interaction event
  js/src/Submitter.js
  js/test/unit/Submitter.test.js
Due: test-js

[JS] submitter: streamID -> schemaID
  js/src/Submitter.js
Due: test-js

[JS] Add MetricsClient#newSubmitter()
  js/src/MetricsClient.js
Due: test-js

[JS] submitter: i -> eventSequencePosition
  js/src/Submitter.js
Due: test-js

[JS] Minor fixups in test/unit/MetricsClient.test.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Add MetricsClient#addTags() and #addTagsIf() methods
  js/src/EventData.d.ts
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Refactor MetricsClient#addTags() and #addTagsIf()
  js/src/MetricsClient.js
  js/test/unit/MetricsClient.test.js
Due: test-js

[JS] Document MetricsClient#addTag*()
  js/src/MetricsClient.js
Due: test-js

[PHP] Update MetricsClient#submitInteraction()
  php/src/MetricsClient.php
  php/tests/MetricsClientTest.php
  php/tests/StreamConfig/StreamConfigFactoryTest.php
  php/tests/TestEventSubmitter.php
  php/tests/TestHelperTrait.php
Due: test-php

[JS] Extract EventSubmitter interface
  js/index.js
  js/src/DefaultEventSubmitter.js
  js/src/DefaultIntegration.js
  js/src/EventSubmitter.d.ts
  js/src/ExternalMetricsClient.js
  js/src/Integration.d.ts
  js/src/MetricsClient.js
  js/test/unit/DefaultEventSubmitter.test.js
  js/test/unit/DefaultIntegration.test.js
  js/test/unit/ExternalMetricsClient.test.js
  js/test/unit/MetricsClient.test.js
  js/test/unit/StubEventSubmitter.js
  js/test/unit/TestMetricsClientIntegration.js
Due: test-js

[JS] Add BrowserEventSubmitter
  js/src/BrowserEventSubmitter.js
Due: test-js

[JS] BrowserEventSubmitter: Submit events every 5 seconds
  js/src/BrowserEventSubmitter.js
Due: test-js
